{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Buquês - Jardim da Diana</title>
        
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="{% static 'css/buque.css' %}"> 
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
        
        <link rel="icon" type="image/png" href="{% static 'src/diana.png' %}" sizes="180x180"/>
    </head>
<body>
    {% include 'produtos/header.html' %} 

    <main class="main-container">
        <h2 class="section-title">{{ titulo_da_pagina|default:"Buquês" }}</h2>

        <div class="products-grid"> 
            
            {% for produto in produtos %}
                <a href="{% url 'produto-detalhe' pk=produto.pk %}" class="product-card-link">
                    <div class="product-card">
                            <div class="product-image-wrapper">
                                {% if produto.imagem %}
                                    <img src="{{ produto.imagem.url }}" alt="{{ produto.nome }}" loading="lazy">
                                {% endif %}
                                <div class="product-image-overlay">
                                    <span class="overlay-button">Ver Detalhes</span>
                                </div>
                            </div>
                        <div class="product-card-info">
                            <p>{{ produto.nome }}</p>
                            <span class="price">R$ {{ produto.preco|floatformat:2 }}</span>
                        </div>
                    </div>
                </a>
            {% empty %}
                <p>Nenhum buquê encontrado no momento.</p>
            {% endfor %}

        </div>
    </main>

    {% include 'produtos/footer.html' %} 
</body>
</html>