{% load static %}
<footer class="footer-new">
    <div class="footer-grid">
        <div class="footer-logo-container">
            <img src="{% static 'src/logo.png' %}" alt="Logo Rodapé Jardim da Diana" class="logo-footer-height">
        </div>
        <div class="footer-center">
            <div class="footer-social-icons">
                <a href="https://www.instagram.com/jardim_da_diana/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                <a href="#" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="https://x.com/jardim_da_diana" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="https://wa.me/5515981327065?text=Ol%C3%A1%2C%20vim%20pelo%20seu%20site%21" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
            </div>
            <p class="footer-address">Praça Roberto Mange, R. Santa Rosália, 30, Sorocaba - SP, 18090-110</p>
            <p class="footer-copyright">Copyright © 2025 Jardim da Diana - Todos os direitos reservados.</p>
            <img src="{% static 'src/ophidiana.png' %}" alt="Selo de Segurança" class="footer-seal">
        </div>
        <div class="footer-payment">
            <div>
                <h3 class="footer-payment-title">Formas de pagamento</h3>
                <div class="payment-icons-grid">
                    <div class="payment-icon-wrapper"><img src="https://upload.wikimedia.org/wikipedia/commons/a/a4/Mastercard_2019_logo.svg" alt="Mastercard" class="payment-icon mastercard"></div>
                    <div class="payment-icon-wrapper"><img src="https://upload.wikimedia.org/wikipedia/commons/5/5e/Visa_Inc._logo.svg" alt="Visa" class="payment-icon visa"></div>
                    <div class="payment-icon-wrapper"><img src="https://upload.wikimedia.org/wikipedia/commons/f/fa/American_Express_logo_(2018).svg" alt="American Express" class="payment-icon amex"></div>
                    <div class="payment-icon-wrapper"><img src="https://cdn.worldvectorlogo.com/logos/elo-1.svg" alt="Elo" class="payment-icon elo"></div>
                    <div class="payment-icon-wrapper"><img src="https://logospng.org/download/hipercard/logo-hipercard-1024.png" alt="Hipercard" class="payment-icon hipercard"></div>
                    <div class="payment-icon-wrapper"><img src="https://upload.wikimedia.org/wikipedia/commons/b/b5/PayPal.svg" alt="PayPal" class="payment-icon paypal"></div>
                </div>
            </div>
        </div>
    </div>
</footer>