{% load static %}
<header>
    <nav class="main-nav">
        <a href="{% url 'home' %}"><img src="{% static 'src/logo.png' %}" alt="Logo Jardim da Diana" class="logo-header-height"></a>
        
        <div class="nav-links desktop-only">
            <a href="{% url 'presentes' %}" class="nav-link">Presente</a>
            <a href="{% url 'buques' %}" class="nav-link">Buquês</a>
            <a href="#" class="nav-link">Itens de Jardinagem</a>
            <a href="#" class="nav-link">Suculentas</a>
            <a href="{% url 'sobre-nos' %}" class="nav-link">Sobre Nós</a>
        </div>

        <div class="nav-search-bar">
            <input type="text" placeholder="Buscar item..." class="nav-search-input">
            <button class="nav-search-icon">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
        
        <div class="nav-user-actions desktop-only">
            <a href="#" class="nav-user-action">
                <i class="fa-solid fa-user"></i>
                <span>PERFIL</span>
            </a>
            <a href="{% url 'cart:cart_detail' %}" class="nav-user-action">
                <i class="fa-solid fa-shopping-bag"></i>
                <span>SACOLA (<span id="cart-total-items">{% if cart|length > 0 %}{{ cart|length }}{% else %}0{% endif %}</span>)</span>
            </a>
        </div>

        <button id="hamburger-btn" class="mobile-only">
            <i class="fa-solid fa-bars"></i>
        </button>
    </nav>
</header>

<div id="mobile-menu">
    <div class="mobile-menu-header">
        <img src="{% static 'src/logo.png' %}" alt="Logo" class="mobile-menu-logo">
        <button id="close-menu-btn">
            <i class="fa-solid fa-xmark"></i>
        </button>
    </div>
    <div class="mobile-menu-links">
        <a href="{% url 'presentes' %}" class="nav-link">Presente</a>
        <a href="{% url 'buques' %}" class="nav-link">Buquês</a>
        <a href="#" class="nav-link">Itens de Jardinagem</a>
        <a href="#" class="nav-link">Suculentas</a>
        <a href="{% url 'sobre-nos' %}" class="nav-link">Sobre Nós</a>
    </div>
    <div class="mobile-user-actions">
        <a href="#" class="nav-user-action">
            <i class="fa-solid fa-user"></i>
            <span>PERFIL</span>
        </a>
        <a href="#" class="nav-user-action">
            <i class="fa-solid fa-shopping-bag"></i>
            <span>SACOLA</span>
        </a>
    </div>
</div>