{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jardim da Diana</title>
    
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
    
    <link rel="icon" type="image/png" href="{% static 'src/diana.png' %}" sizes="180x180"/>
</head>
<body>

    <header>
        <nav class="main-nav">
            <a href="{% url 'home' %}"><img src="{% static 'src/logo.png' %}" alt="Logo Jardim da Diana" class="logo-header-height"></a>
            
            <div class="nav-links desktop-only">
                <a href="#" class="nav-link">Presente</a>
                <a href="#" class="nav-link">Buquês</a>
                <a href="#" class="nav-link">Itens de Jardinagem</a>
                <a href="#" class="nav-link">Suculentas</a>
                <a href="#" class="nav-link">Sobre Nós</a>
            </div>

            <div class="nav-search-bar">
                <input type="text" placeholder="Buscar item..." class="nav-search-input">
                <button class="nav-search-icon">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
            
            <div class="nav-user-actions desktop-only">
                <a href="#" class="nav-user-action">
                    <i class="fa-solid fa-user"></i>
                    <span>PERFIL</span>
                </a>
                <a href="#" class="nav-user-action">
                    <i class="fa-solid fa-shopping-bag"></i>
                    <span>SACOLA</span>
                </a>
            </div>

            <button id="hamburger-btn" class="mobile-only">
                <i class="fa-solid fa-bars"></i>
            </button>
        </nav>
    </header>

    <div id="mobile-menu">
        <div class="mobile-menu-header">
            <img src="{% static 'src/logo.png' %}" alt="Logo" class="mobile-menu-logo">
            <button id="close-menu-btn">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>
        <div class="mobile-menu-links">
            <a href="#" class="nav-link">Presente</a>
            <a href="#" class="nav-link">Buquês</a>
            <a href="#" class="nav-link">Itens de Jardinagem</a>
            <a href="#" class="nav-link">Suculentas</a>
            <a href="#" class="nav-link">Sobre Nós</a>
        </div>
        <div class="mobile-user-actions">
            <a href="#" class="nav-user-action">
                <i class="fa-solid fa-user"></i>
                <span>PERFIL</span>
            </a>
            <a href="#" class="nav-user-action">
                <i class="fa-solid fa-shopping-bag"></i>
                <span>SACOLA</span>
            </a>
        </div>
    </div>

    <main class="main-container">
        <h2 class="section-title">Mais Vendidos</h2>

        <div class="carousel-container">
            <button id="prev-btn" class="carousel-btn prev">&#10094;</button>
            <div class="carousel-wrapper">
                <div id="products-carousel" class="carousel-track">
                    
                    {% for produto in produtos %}
                    <div class="product-card">
                        {% if produto.imagem %}
                            <img src="{{ produto.imagem.url }}" alt="{{ produto.nome }}">
                        {% else %}
                            <img src="{% static 'src/placeholder.png' %}" alt="Imagem não disponível">
                        {% endif %}
                        <p>{{ produto.nome }}</p>
                        <span class="price">R$ {{ produto.preco|floatformat:2 }}</span>
                    </div>
                    {% endfor %}

                </div>
            </div>
            <button id="next-btn" class="carousel-btn next">&#10095;</button>
        </div>
    </main>

    <section class="testimonials-section">
        <div class="testimonials-container">
            <h2 class="testimonials-title">Pensamentos dos clientes</h2>
            <div class="testimonials-grid">
                <div class="testimonial-card">
                    <div>
                        <span class="testimonial-quote-symbol">”</span>
                        <div class="testimonial-divider"></div>
                    </div>
                    <blockquote>
                        "Queria agradecer por deixarem o aniversário da minha mãe mais especial. O buquê foi elogiado por todos! Trabalho impecável!"
                    </blockquote>
                    <cite>Amanda</cite>
                </div>
                <div class="testimonial-card">
                    <div>
                        <span class="testimonial-quote-symbol">”</span>
                        <div class="testimonial-divider"></div>
                    </div>
                    <blockquote>
                        "Em um momento de dor, vocês entregaram mais do que flores. Entregaram acolhimento. Foi tudo feito com muito respeito. Muito obrigado."
                    </blockquote>
                    <cite>Raphael</cite>
                </div>
                <div class="testimonial-card">
                    <div>
                        <span class="testimonial-quote-symbol">”</span>
                        <div class="testimonial-divider"></div>
                    </div>
                    <blockquote>
                        "Comprei um buquê pra minha namorada e ela chorou de emoção. Vocês não vendem só flores, vendem sentimentos! Parabéns pelo trabalho."
                    </blockquote>
                    <cite>Laura</cite>
                </div>
            </div>
        </div>
    </section>
    
    <footer class="footer-new">
        <div class="footer-grid">
            <div class="footer-logo-container">
                <img src="{% static 'src/logo.png' %}" alt="Logo Rodapé Jardim da Diana" class="logo-footer-height">
            </div>
            <div class="footer-center">
                <div class="footer-social-icons">
                    <a href="https://www.instagram.com/jardim_da_diana/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="https://x.com/jardim_da_diana" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
                    <a href="https://wa.me/5515981327065?text=Ol%C3%A1%2C%20vim%20pelo%20seu%20site%21" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
                </div>
                <p class="footer-address">Praça Roberto Mange, R. Santa Rosália, 30, Sorocaba - SP, 18090-110</p>
                <p class="footer-copyright">Copyright © 2025 Jardim da Diana - Todos os direitos reservados.</p>
                <img src="{% static 'src/ophidiana.png' %}" alt="Selo de Segurança" class="footer-seal">
            </div>
            <div class="footer-payment">
                <div>
                    <h3 class="footer-payment-title">Formas de pagamento</h3>
                    <div class="payment-icons-grid">
                        <div class="payment-icon-wrapper"><img src="https://upload.wikimedia.org/wikipedia/commons/a/a4/Mastercard_2019_logo.svg" alt="Mastercard" class="payment-icon mastercard"></div>
                        <div class="payment-icon-wrapper"><img src="https://upload.wikimedia.org/wikipedia/commons/5/5e/Visa_Inc._logo.svg" alt="Visa" class="payment-icon visa"></div>
                        <div class="payment-icon-wrapper"><img src="https://upload.wikimedia.org/wikipedia/commons/f/fa/American_Express_logo_(2018).svg" alt="American Express" class="payment-icon amex"></div>
                        <div class="payment-icon-wrapper"><img src="https://cdn.worldvectorlogo.com/logos/elo-1.svg" alt="Elo" class="payment-icon elo"></div>
                        <div class="payment-icon-wrapper"><img src="https://logospng.org/download/hipercard/logo-hipercard-1024.png" alt="Hipercard" class="payment-icon hipercard"></div>
                        <div class="payment-icon-wrapper"><img src="https://upload.wikimedia.org/wikipedia/commons/b/b5/PayPal.svg" alt="PayPal" class="payment-icon paypal"></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="{% static 'js/menu.js' %}"></script>
    <script src="{% static 'js/scroll-animation.js' %}"></script>
    <script src="{% static 'js/carousel.js' %}"></script>

</body>
</html>