{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jardim da Diana</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/hero_swiper.css' %}">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
    <link rel="icon" type="image/png" href="{% static 'src/diana.png' %}" sizes="180x180"/>
</head>
<body>

    {% include 'produtos/header.html' %}

    <div class="swiper hero-swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-image: url({% static 'src/banner_inicial.png' %});"></div>
            <div class="swiper-slide" style="background-image: url({% static 'src/banner2.png' %});"></div>
            <div class="swiper-slide" style="background-image: url({% static 'src/banner3.png' %});"></div>
            <div class="swiper-slide" style="background-image: url({% static 'src/banner_final.png' %});"></div>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-pagination"></div>
    </div>

    <main class="main-container">
        <h2 class="section-title">Mais Vendidos</h2>

        <div class="product-carousel-container">
            <div class="swiper product-swiper">
                <div class="swiper-wrapper">
                    {% for produto in produtos %}
                        <a href="{% url 'produto-detalhe' pk=produto.pk %}" class="swiper-slide product-card-link">
                            <div class="product-card">
                                <div class="product-image-wrapper">
                                    {% if produto.imagem %}<img src="{{ produto.imagem.url }}" alt="{{ produto.nome }}">{% endif %}
                                    <div class="product-image-overlay"><span class="overlay-button">Ver Detalhes</span></div>
                                </div>
                                <div class="product-card-info">
                                    <p>{{ produto.nome }}</p>
                                    <span class="price">R$ {{ produto.preco|floatformat:2 }}</span>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
                <div class="swiper-pagination"></div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </main>

    <section class="testimonials-section">
        <div class="testimonials-container">
            <h2 class="testimonials-title">Pensamentos dos clientes</h2>
            <div class="testimonials-grid">
                <div class="testimonial-card">
                    <div>
                        <span class="testimonial-quote-symbol">”</span>
                        <div class="testimonial-divider"></div>
                    </div>
                    <blockquote>
                        "Queria agradecer por deixarem o aniversário da minha mãe mais especial. O buquê foi elogiado por todos! Trabalho impecável!"
                    </blockquote>
                    <cite>Amanda</cite>
                </div>
                <div class="testimonial-card">
                    <div>
                        <span class="testimonial-quote-symbol">”</span>
                        <div class="testimonial-divider"></div>
                    </div>
                    <blockquote>
                        "Em um momento de dor, vocês entregaram mais do que flores. Entregaram acolhimento. Foi tudo feito com muito respeito. Muito obrigado."
                    </blockquote>
                    <cite>Raphael</cite>
                </div>
                <div class="testimonial-card">
                    <div>
                        <span class="testimonial-quote-symbol">”</span>
                        <div class="testimonial-divider"></div>
                    </div>
                    <blockquote>
                        "Comprei um buquê pra minha namorada e ela chorou de emoção. Vocês não vendem só flores, vendem sentimentos! Parabéns pelo trabalho."
                    </blockquote>
                    <cite>Laura</cite>
                </div>
            </div>
        </div>
    </section>
    
    {% include 'produtos/footer.html' %}

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="{% static 'js/menu.js' %}"></script>
    <script src="{% static 'js/scroll-animation.js' %}"></script>
    <script src="{% static 'js/swiper_init.js' %}"></script>

</body>
</html>