{% extends "produtos/base.html" %}

{% block title %}Digite a Nova Senha{% endblock %}

{% block content %}
<div style="max-width: 500px; margin: 40px auto; padding: 2rem; background-color: #fffcf5; border-radius: 12px; text-align: center;">
    <h2>Digite sua Nova Senha</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" style="padding: 10px 20px; background-color: #5cb85c; color: white; border: none; border-radius: 5px; cursor: pointer;">Redefinir Senha</button>
    </form>
</div>
{% endblock %}