{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% static 'style2.css' %}">
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <link rel="icon" type="image/png" href="{% static 'diana.png' %}" sizes="180x180"/>
</head>
<body>
    {% if erro %}
        <script>
                alert("{{ erro }}");
        </script>
        {% endif %}
    <script src="{% static 'todos.js' %}"></script>

    <!-- CABEÇALHO -->
    <header class="header">
       <a href="../../../static/frontend/index.html"> <img src="{% static '/frontend/src/logoDiana2.png' %}" alt="Logo Diana" class="diana2"></a>
    </header>

    <!-- LOGIN -->
    <main>
        <center>
            <div class="card-login">
                <h1>Login</h1>

                <form class="textField" action="{% url 'login' %}" method="post">
                    {% csrf_token %}

                    {% if erro %}
                        <p class="erro">{{ erro }}</p>
                    {% endif %}

                    <input class="usuarioLogin" type="text" placeholder="Username..." name="username" required>
                    <br><br>

                    <input class="senhaLogin" type="password" placeholder="Senha..." name="password" required>
                    <br><br>

                    <input class="botaoLogin" type="submit" value="Entrar">
                    <br>

                    <div class="cd">
                        <p>Não tem cadastro?</p>
                        <a href="{% url 'cadastro' %}" class="cadastre">Cadastre-se!</a>
                    </div>
                </form>
            </div>
        </center>
    </main>

    <!-- RODAPÉ -->
    <footer class="footer">
        <div class="footer-left">
            <img class="logo-footer" src="{% static '/frontend/src/diana_footer-removebg-preview.png' %}" alt="Logo">
        </div>

        <div class="footer-center">
            <img class="redes-sociais" src="{% static '/frontend/src/Ícones_de_Redes_Sociais_em_Marrom__1_-removebg-preview.png' %}" alt="Redes Sociais">
            <hr class="linha-divisoria">
            <p>Praça Roberto Mange, R. Santa Rosália, 30, Sorocaba - SP, 18090-110</p>
            <p>Copyright © 2025 Jardim da Diana - Todos os direitos reservados.</p>
            <img class="logo-empresa" src="{% static '/frontend/src/logosemfundo.png' %}" alt="Logo Empresa">
        </div>

        <div class="footer-right">
            <p class="escrita-forma">Formas de Pagamento</p>
            <img class="pagamento" src="{% static '/frontend/src/formadepagamento.png' %}" alt="Pagamento">
        </div>
    </footer>
</body>
</html>
