<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jardim da Diana</title>
    
    <link rel="stylesheet" href="/jardim_da_diana/static/css/base.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
    <link rel="icon" type="image/png" href="/jardim_da_diana/static/css/diana.png" sizes="180x180"/>
</head>

    <header>
        <nav class="main-nav">
            <a href="#"><img src="/jardim_da_diana/static/logo.png" alt="Logo Jardim da Diana" class="logo-header-height"></a>
        </nav>
    </header>



    <main>
        <center>
            <div class="card-login">
                <h1>Login</h1>

                <form class="textField" action="{% url 'login' %}" method="post"> {% csrf_token %}
                    <input class="usuarioLogin" type="text" placeholder="Username..." name="username" required>
                    <br><br>

                    <input class="senhaLogin" type="password" placeholder="Senha..." name="password" required>
                    <br><br>

                    <input class="botaoLogin" type="submit" value="Entrar">
                    <br>

                    <div class="cd">
                        <p>Não tem cadastro?</p>
                        <a href="{% url 'cadastro' %}" class="cadastre">Cadastre-se!</a>
                    </div>
                </form>
            </div>
        </center>
    </main>
    
    <footer class="footer-new">
        <div class="footer-grid">
            <div class="footer-logo-container">
                <img src="/jardim_da_diana/static/logo.png" alt="Logo Rodapé Jardim da Diana" class="logo-footer-height footer-logo-down">
            </div>
            <div class="footer-center">
                <div class="footer-social-icons">
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                </div>
                <p class="footer-address">Praça Roberto Mange, R. Santa Rosália, 30, Sorocaba - SP, 18090-110</p>
                <p class="footer-copyright">Copyright © 2025 Jardim da Diana - Todos os direitos reservados.</p>
                <img src="/jardim_da_diana/static/logosemfundo.png" alt="Selo de Segurança" class="footer-seal">
            </div>
            <div class="footer-payment">
                <div>
                    <h3 class="footer-payment-title">Formas de pagamento</h3>
                    <div class="payment-icons-grid">
                        <div class="payment-icon-wrapper"><img src="https://upload.wikimedia.org/wikipedia/commons/a/a4/Mastercard_2019_logo.svg" alt="Mastercard" class="payment-icon mastercard"></div>
                        <div class="payment-icon-wrapper"><img src="https://upload.wikimedia.org/wikipedia/commons/5/5e/Visa_Inc._logo.svg" alt="Visa" class="payment-icon visa"></div>
                        <div class="payment-icon-wrapper"><img src="https://upload.wikimedia.org/wikipedia/commons/f/fa/American_Express_logo_(2018).svg" alt="American Express" class="payment-icon amex"></div>
                        <div class="payment-icon-wrapper"><img src="https://cdn.worldvectorlogo.com/logos/elo-1.svg" alt="Elo" class="payment-icon elo"></div>
                        <div class="payment-icon-wrapper"><img src="https://logospng.org/download/hipercard/logo-hipercard-1024.png" alt="Hipercard" class="payment-icon hipercard"></div>
                        <div class="payment-icon-wrapper"><img src="https://upload.wikimedia.org/wikipedia/commons/b/b5/PayPal.svg" alt="PayPal" class="payment-icon paypal"></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>